:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --logo-color: #FFFFFF;
    --mailtel-logo-color: rgba(255, 255, 255, 0.6);
    --hero-footer-color:  #2F303A;
    --additional-background-color: #f5f4fa;
    --main-background-color: #fff; 
}


ul {
  list-style: none;
  font-style: normal;
}

a {
  text-decoration: none;
}


body {
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    line-height: 1.7; 
    color: var(--primary-text-color);
    background-color: var(--main-background-color);
}

button {
  cursor: pointer;
}

/* .header {
  background-color: var(--main-background-color);
} */

.hero,
.footer {
  background-color: var(--hero-footer-color);
}

/* main {
  background-color: var(--main-background-color);
} */

.logo {
  font-family: 'Raleway', sans-serif;
  /* font-style: normal; */
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-text-color);
}

.logo-web {
  color: var(--accent-color);
}

.header-list-link {
  font-weight: 500;
  line-height: 1.1;
  color: var(--title-text-color);
  text-decoration: none;
}

.header-list-link:hover,
.header-list-link:focus  {
  color: var(--accent-color);
}

.header-list-link:focus {
  color: var(--accent-color);
}

.header-list .header-list-link.current {
  color: var(--accent-color);
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--primary-text-color);
  text-decoration: none;
}

.contacts-link:hover {
  color: var(--accent-color);
}

.contacts-link:focus {
  color: var(--accent-color);
}

.footer-addres-map {
  font-weight: 400;
  line-height: 1.7;
  color: var(--mailtel-logo-color);
} 

.footer-address-map:hover {
    color: var(--logo-color);
}

.footer-email,
.footer-tel {
  font-weight: 400;
  line-height: 1.7;
  color: var(--mailtel-logo-color);
}
/* 
.footer-items {
  font-weight: 400;
  line-height: 1.7;
  color: var(--mailtel-logo-footer);
}

.footer-items:hover {
    color: var(--mailtel-logo-color);
}

.footer-items:focus {
  color: var(--mailtel-logo-color);
} */


.footer-email:hover {
    color: var(--logo-color);
}

.footer-tel:hover {
    color: var(--logo-color);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-color);
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.team {
  background-color: var(--additional-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--logo-color);
  text-align: center;
}

.hero-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--main-background-color);
  background-color: var(--accent-color);
}

.hero-btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background: var(--accent-color);
  color: var(--logo-color);
  text-align: center;
}

.features-item-title {
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-item-text {
  font-weight: 400;
  line-height: 1.7;
  color: var(--primary-text-color);
}

.galery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-align: center;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-align: center;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: var(--title-text-color);
}

.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}

.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--title-text-color);
  background-color: var(--additional-background-color);
}

.portfolio-button:hover {
  color: var(--main-background-color);
  background-color: var(--accent-color);
}

.portfolio-button:focus {
  color: var(--main-background-color);
  background-color: var(--additional-background-color);
}

.portfolio-item-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}

.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}

