.team {
  background-color: var(--additional-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--logo-color);
  text-align: center;
}

.hero-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-background-color);
  background-color: var(--accent-color);
}

.hero-btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background: var(--accent-color);
  color: var(--logo-color);
  text-align: center;
}

.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
}

.galery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
  text-align: center;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
  text-align: center;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  color: var(--title-text-color);
}

.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--title-text-color);
  background-color: var(--additional-background-color);
}

.portfolio-button:hover {
  color: var(--main-background-color);
  background-color: var(--accent-color);
}

.portfolio-button:focus {
  color: var(--main-background-color);
  background-color: var(--additional-background-color);
}

.portfolio-item-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}

.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

